body {
    font: 16px 'Ubuntu', Helvetica, Arial, sans-serif;
    width: 100%;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', Arial, sans-serif;
}

.header_logo,
.header_title {
    float: left;
    display: inline;
    margin: 10px 10px 10px 10px;
}

.header_title {
    font-size: 1.5em;
    color: #fff;
}

header {
    width: inherit;
    background-color: #731509;
}

.footer_element {
    width: inherit;
    background-image: linear-gradient(45deg, #f2f2f2, #5A4232);
}

.footer_element>div {
    margin: 10px 10px 10px 10px;
}

#main_content_view {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    background-color: #f2f2f2;
}

nav {
    display: flex;
    flex: 1 0 150px;
    flex-direction: column;
    width: inherit;
}

nav>div {
    padding: 5px 5px 5px 5px;
    display: flex;
    background-color: #C02F1D;
}

#menu_first_item {
    border-bottom: 1px solid #f2f2f2;
}

nav>div>a {
    color: #fff;
    font-size: 1em;
}

a {
    margin: auto;
    color: #000;
    text-decoration: none;
    font-family: inherit;
    font-size: 0.8em;
}

a:hover {
    text-decoration: underline;
}

.main_view {
    margin-left: 10px;
    flex: 3 1 80%;
}

.add_button {
    margin-top: 10px;
}

/* table specific rules */

table {
    width: 100%;
}

td {
    padding: 0 0 0 0;
}

input:invalid, select:invalid {
    background-color: #C02F1D;
    color: #fff;
}

input, select {
    font: inherit;
}

td>input, th input, td select {
    margin: 0 0 0 0;
    background-color: inherit;
    border: none;
    width: 100%;
    height: 20px;
    padding-left: 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.collections_header {
    background-color: #00BF60;
}


.search_div input {
    background: url(images/menu_search.png) left no-repeat;
    text-indent: 15px;
    font: 16px 'Ubuntu', Helvetica, Arial, sans-serif;
}


th {
    font-size: 1.1em;
    font-family: 'Lato', Arial, sans-serif;
}

table tbody tr:hover td {
    background-color: #BFB1AC;
}

table tbody tr:nth-child(odd) {
    background-color: #D8D8D8;
}

table tbody tr:nth-child(even) {
    background-color: #B2B2B2;
}

/* Specific to menu navigation */

.collections>section {
    display: none;
}

.collections>section:target {
    display: block;
}

/* mobilka */

@media only screen and (max-width: 688px) {
    .header_logo {
        display: none;
    }
}

@media only screen and (max-width: 768px),
(max-device-width: 768px) {
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead tr th:last-child {
        display: none;
    }
    
    thead tr {
        display: flex;
    }
    
    thead tr th {
        flex: 1 1 100%;
    }
    
    tr {
        border: 1px solid #ccc;
    }
    
    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        position: absolute;
        top: 1px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    #students_list td:nth-of-type(1):before {
        content: "Index";
    }
    #students_list td:nth-of-type(2):before {
        content: "First Name";
    }
    #students_list td:nth-of-type(3):before {
        content: "Last Name";
    }
    #students_list td:nth-of-type(4):before {
        content: "Birth Date";
    }
    #students_list td:nth-of-type(5):before {
        content: "Actions";
    }
    #courses_list td:nth-of-type(1):before {
        content: "Course Name";
    }
    #courses_list td:nth-of-type(2):before {
        content: "Course Instructor";
    }
    #courses_list td:nth-of-type(3):before {
        content: "Actions";
    }
    #grades_list td:nth-of-type(1):before {
        content: "Grade value";
    }
    #grades_list td:nth-of-type(2):before {
        content: "Date of grade";
    }
    #grades_list td:nth-of-type(3):before {
        content: "Graded student";
    }
    #grades_list td:nth-of-type(4):before {
        content: "Actions";
    }
}

@media print {

    body {
        background: transparent;
        color: #000;
        box-shadow: none;
        text-shadow: none;
    }
    
    section {
        margin: 0 0 0 0;
    }
    
    .main_view {
        margin: 0 0 0 0;
    }
    
    section, table, div {
        background: transparent;
        background-color: #fff;
    }
    
    header, footer, nav, img {
        display: none;
    }
    
    thead {
        display: table-header-group;
        background: transparent !important;
    }  
    
    tr {
        page-break-inside: avoid;
        background: transparent !important;
    }
    
    input {
        background: transparent !important;
    }
    
    table td:last-child {
        display: none;
    }
    
    table th:last-child {
        display: none;
    }
    
    table td {
        border-top: solid 1px black !important;
    }
    
    table {
        border-collapse: collapse;
    }

    table tbody tr:hover td {
        background: transparent;
    }
    
    .add_button {
        display: none;
    }
    
    h2,
    h3 {
        page-break-after: avoid;
    }
    
    input[type='number'] {
        -moz-appearance:textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    
    input::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
    
    select {
        /*for firefox*/
        -moz-appearance: none;
        /*for chrome*/
        -webkit-appearance:none;
      }

    /*for IE10*/
    select::-ms-expand {
        display: none;
    }
}
